*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
  font-size: 12px;
   margin: auto;
   width: 100%;
   background-color: rgb(44, 44, 44);
}
nav {
  margin: 0 auto;
  padding: 12px 0 15px 15px;
  position: fixed;
  width: 40%;
  background-color: black;
}

.container {
  margin: 0 auto;
  width: 40%;
}

.restaurant-list {
  padding-top: 51px;
  background-color: rgb(208, 208, 208);
  width: 100%;
}
.location{
  display: block;
  width: 100%;
  border-bottom: 1px solid rgb(44, 44, 44);
  padding: 10px 20px 60px 20px;
}

 .location:hover{
  background-color: rgb(144, 144, 144);
}

.content{
  width: 90%;
  float: left;
}
.content h1 {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1.5;
}
.content h3{
  font-weight:normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1;
}
.arrow{
  width:10%;
  float:right;
  padding: 10px 0 0 30px;
}
